{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <div class="container justify">
                <div class="logo">
                    <h1>$hare</h1>
                </div>
                <div class="links">
                    <a href="{% url 'index' %}">Início</a>
                    <a href="{% url 'doar' %}">Doar</a>
                </div>
            </div>
        </header>

        <main>{% block content %}{% endblock content %}</main>
        <footer>
            <div class="container">
                <p>© 2023 Instituição de Ensino. Todos os direitos reservados.</p>
            </div>
        </footer>
    </body>
</html>