{% extends "app/base.html" %}
{% load static %}

{% block title %} Página Inicial{%endblock title %}

{% block content %}
<div class="banner">
    <div class="container vertical">
        <h1>Ajude-nos a mudar o futuro<br>Faça uma doação</h1>
        <div class="progress-container">
            <progress class="progress-bar" value="32.57" max="100"></progress>
            <div class="progress-text">32.57% arrecadado</div>
        </div>
    </div>
</div>

<div class="container">
    
    <h2>Nosso objetivo</h2>
    <section class="justify">
        <div class="w50">
            <div class="texto">
                <p>Comprar um prédio<br>
                    <br>
                    Somos uma instituição de ensino, o prédio onde funcionamos é alugado e o proprietário venderá o imóvel, precisamos de ajuda para comprá-lo, se não arrecadarmos dinheiro suficiente, teremos que encerrar nossas atividades, pois não haverá onde funcionar.</p>
            </div>
        </div>
        <div class="w50">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/AQ1PgO0Q_2I" title="Apresentação IFSP Campus Caraguatatuba" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <hr>

    <h2>Sobre a instituição</h2>
    <section class="justify">
        <div class="w50">
            <div class="foto">
                <img src="{% static 'app/img/predio.jpg' %}" alt="Prédio de uma instituição de ensino">
            </div>
        </div>
        <div class="w50">
            <div class="texto">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mollis eros. Etiam faucibus, sapien sit amet consectetur pulvinar, erat ipsum congue diam, in porta sem sapien a ante. Phasellus varius nunc vel lobortis gravida. Ut a tempus diam, sit amet porttitor sapien. Ut molestie justo nulla. Vivamus eget est eu metus vehicula convallis. Curabitur dolor leo, vestibulum id massa ac, porta rutrum ligula. Suspendisse sed lacinia tortor. In laoreet risus vitae fermentum dignissim. Donec pretium aliquet lorem, nec euismod metus dictum at.</p>
            </div>
        </div>
    </section>

    <hr>

    <h2>Nos ajude! Faça uma doação</h2>

    <section class="justify">
        <div class="w50">
            <div class="texto">
                <p>Para ajudar é muito simples!<br>
                Só precisamos de algumas informações</p>
            </div>
        </div>
        <div class="w50">
            <a href="" class="btn">Doar</a>
        </div>
    </section>

    <hr>

    <h2>Gostaria de nos dizer algo?</h2>
    <p>Caso tenha alguma dúvida, sugestão, reclamação ou queira conversar com a gente, pode entrar em contato  enviando um e-mail para contato@instituicaodeensino.com.</p>
    <br>
    <section class="justify">
        <div class="w50">
            <div class="texto">
                <h2>Alguns dados sobre nós</h2>
                <p>Instituição de Ensino<br>
                    CNPJ: 10.882.594/0011-37<br>
                    Endereço:<br>
                    Av. Bahia, 1739 - Indaiá, 11665-071<br>
                    Caraguatatuba - SP
                </p>
            </div>
        </div>
        <div class="w50 mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7310.183499644032!2d-45.43028667569162!3d-23.636885034635675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cd631551d2d585%3A0xbe6efd4b81fb3cd0!2sIFSP!5e0!3m2!1spt-BR!2sbr!4v1688133567379!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>        
</div>
{% endblock content %}
